@(roles: List[Role], e: Option[Employee]=None)

<div class="field">
  <label>First name</label>
  @e match {
    case None => { <input type="text" name="first_name" /> }
    case Some(e) => { <input type="text" name="first_name" value="@e.first" /> }
  }
</div>

<div class="field">
  <label>Last name</label>
  @e match {
    case None => { <input type="text" name="last_name" /> }
    case Some(e) => { <input type="text" name="last_name" value="@e.last" /> }
  }
</div>

<div class="field">
  <label>Email</label>
  @e match {
    case None => { <input type="email" name="email" /> }
    case Some(e) => { <input type="email" name="email" value="@e.email" /> }
  }
</div>

<div class="field">
  <label>Phone</label>
  @e match {
    case None => { <input type="text" name="phone" /> }
    case Some(e) => { <input type="text" name="phone" value="@e.phone" /> }
  }
</div>

<div class="field">
  <label>Role</label>
  <br/>
  <select name="role">
    @e match {
      case None => {
        @roles.map { role =>
          <option value="@role.id">@role.role</option>
        }
      }
      case Some(e) => {
        @roles.map { role =>
          if (role.id == e.role_id) {
            <option value="@role.id" selected="selected">@role.role</option>
          } else {
            <option value="@role.id">@role.role</option>
          }
        }
      }
    }
  </select>
</div>

<div class="field">
  <label>Website</label>
  @e match {
    case None => { <input type="text" name="website" /> }
    case Some(e) => { <input type="text" name="website" value="@e.website" /> }
  }
</div>

<div class="field">
  <label>Bio (a brief description about your interests)</label>
  @e match {
    case None => { <textarea name="bio"></textarea> }
    case Some(e) => { <textarea name="bio">@e.bio</textarea> }
  }
</div>

<input type="submit" value="Submit" class="btn" />

