@(employee: Option[Employee])

@main("") {
  @employee match {
    case None    => {}
    case Some(e) => {
      <h2>
        <a href="/employees/@e.id/edit">@Employee.name(e)</a>
      </h2>

      <p><a href="/employees/@e.id/edit">Edit</a></p>

      <h3 class="role">
        @e.role
      </h3>
      <img src="@Employee.gravatar(e.email, 100)" alt="@Employee.name(e)" class="gravatar" />
      <p>EMAIL: @e.email</p>
      <p>PHONE: @e.phone</p>
      <p>WEBSITE: <a href="@e.website">@e.website</a></p>
      <h4>About</h4>
      <article class="bio">
        @e.bio
      </article>
    }
  }
}
