body { background: #f3f3f3; margin: 0; padding: 0; }

.container { width: 90%; }

.alert {
  padding: 20px;
  background: #eee;
  border: 2px solid #ccc;
  margin: 20px 0;
}

$brand: #2a323a;

h1, h2, h3 { color: $brand; }

// HOME

#hero {
  height: 400px;
  background: $brand url(/assets/images/office.jpg) no-repeat center top fixed;
  background-size: cover;
  width: 100%;

  h1 { text-align: center; padding-top: 140px; color: #FFF; }
  h2 { text-align: center; color: #FFF; font-size: 20px; }
}

#recent {
  padding: 20px 0;
  .employee { margin: 20px 20px 0 0; }
}

.gravatar { width: 100px; height: 100px; background: #eee; border: 1px solid #ccc; }

#main-nav {
  position: fixed;
  padding: 20px 24px;
  width: 100%;
  background: $brand;
  top: 0;
  left: 0;
  ul { margin: 0; padding: 0 }
  li { display: inline; color: #FFF; margin-right: 10px; }
  a  { color: #FFF }
}

// App

.avatar {
  width: 100px;
  border: 1px solid #ccc;
  background: #eee;
  margin: 24px 0;
}

textarea {
  width: 100%;
  height: 300px;
  margin: 0 0 20px;
}

label { color: #666; }

.field {
  margin: 0 0 10px;
}

#main {
  padding: 24px;
  background: #FFF;
  border: 1px solid #eee;
  margin: 80px auto;
  overflow: hidden;
  box-shadow: 1px 1px 0 #ccc;
}

.employee {
  float: left;
  margin: 10px 10px 0 0;
}

.role { font-size: 20px; font-family: georgia; font-weight: 100; color: #666; margin: 0 0 20px; }

.no-margin { margin: 0; padding: 0 }

.navigation {
  background: #333;
  height: 40px;
  width: 100%;

  ul { margin: 0; padding: 0; list-style: none; }
  li {
    display: inline;
    margin-right: 20px;
    a { color: #EEE; }
  }

}

