@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link href="@routes.Assets.at("stylesheets/gravity.css")" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  </head>
  <body id="home">
    @nav()
    <section id="hero">
      <header>
        <hgroup>
          <h1>We are Box UK.</h1>
          <h2>Welcome to our employee portal where you can learn more about our teams</h2>
        </hgroup>
      </header>
    </section>
    <div class="container">
      @content
    </div>
  </body>
</html>
